.centralizado {
    text-align: center;
}

.info-livros {
    border-width: 5px;
}

.excluir-produto {
    background-color: darkred;
}

.botao {
    width: 250px;
    height: 45px;
}

.margem-acima-p{
    margin-top: 10px;
}

.margem-acima-m{
    margin-top: 50px;
}

.focus {
    border-width: 10px;
    border-color: red;
}